@import 'bootstrap';

.text_g {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Nunito', sans-serif;
  color: transparent;
  letter-spacing: 0.1em;
  text-shadow: 0 0 2px rgba(204, 208, 212, 0.9),
  0 15px 25px rgba(0, 0, 0, 0.3),
  0 -2px 3px rgba(0, 0, 0, 0.1),
  0 -5px 10px rgba(255, 255, 255, 0.5),
  0 5px 10px rgba(0, 0, 0, 0.3),
  0 3px 4px rgba(255, 255, 255, 0.2),
  0 0 20px rgba(255, 255, 255, 0.45);
}

.img-r {
  border-radius: 50%;
  width: 80%;
}

.word_btn {
  display: block;
  position: relative;
  width: 80px;
  padding: 0.8em;
  text-align: center;
  text-decoration: none;
  color: #818181;
}
.word_btn:hover {
  color: #1B1B1B;
  cursor: pointer;
  text-decoration: none;
}


body {
  font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  width: 100%;
}

textarea {
  resize: vertical;
}

header {
  margin: 0 auto;
  li {
    margin: 0 20px;
  }
}


/* ヘッダー */
header {
  width: 100%;
  .text_logo {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    color: transparent;
    letter-spacing: 0.1em;
    text-shadow: 0 0 2px rgba(204, 208, 212, 0.9),
    0 15px 25px rgba(0, 0, 0, 0.3),
    0 -2px 3px rgba(0, 0, 0, 0.1),
    0 -5px 10px rgba(255, 255, 255, 0.5),
    0 5px 10px rgba(0, 0, 0, 0.3),
    0 3px 4px rgba(255, 255, 255, 0.2),
    0 0 20px rgba(255, 255, 255, 0.45);
  }
  .text_g {
      text-align: center;
      text-transform: uppercase;
      font-family: 'Nunito', sans-serif;
      color: transparent;
      letter-spacing: 0.1em;
      text-shadow:
              0 0 2px rgba(204, 208, 212,0.9),
              0 15px 25px rgba(0, 0, 0, 0.3),
              0 -2px 3px rgba(0, 0, 0, 0.1),
              0 -5px 10px rgba(255, 255, 255, 0.5),
              0 5px 10px rgba(0, 0, 0, 0.3),
              0 3px 4px rgba(255, 255, 255, 0.2),
              0 0 20px rgba(255, 255, 255, 0.45);
      position: relative;
      display: inline-block;
      text-decoration: none;
    }
    .text_g::after {
      position: absolute;
      bottom: 2px;
      left: 0;
      content: '';
      width: 100%;
      height: 2px;
      background: #333;
      opacity: 0;
      visibility: hidden;
      transition: .3s;
    }
    .text_g:hover::after {
      bottom: -4px;
      opacity: 1;
      visibility: visible;
    }
  }


/* トップ画面 */

.top {
  height: 600px;
  .describe {
    padding: 50px;
    margin-top: 150px;
    letter-spacing: 2px;
  }
  .btn-gradient-3d-simple {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 4px;
    color: #ffffff;
    background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #5e7fca;
  }
  .btn-gradient-3d-simple:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
  }
  .new-post {
    margin-top: 70px;
    padding-bottom: 500px;
  }
  .card-header {
    width: 50%;
    margin: 0 auto;
  }


  .btn-hov {
    position: relative;
    display: inline-block;
    font-size: 25px;
    padding: 0.25em 0;
    text-decoration: none;
    color: lightslategrey;
  }

  .btn-hov:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    top:100%;
    left: 0;
    border-radius: 3px;
    background: lightslategray;
    transition: .2s;
  }

  .btn-hov:hover:before {
    top: -webkit-calc(100% - 3px);
    top: calc(100% - 3px);
  }
}


/* 登録画面 */
.signup {
  margin: 0 auto;

  .signup-body {
    padding: 30px;
  }

  .btn-gradient-3d-simple {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 4px;
    color: #ffffff;
    background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #5e7fca;
  }

  .btn-gradient-3d-simple:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
  }
}
.new-errors {
  color: lightcoral;
  list-style: none;
}

/* ログインフォーム */

.login-form {
  padding: 30px;
  .btn-gradient-3d-simple {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 4px;
    color: #ffffff;
    background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #5e7fca;
  }

  .btn-gradient-3d-simple:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
  }
}

/* 質問投稿画面 */
.post-field {
  padding: 30px;
  .choice {
    width: 80%;
    margin: 0 auto;
  }
}

/* ユーザー詳細画面 */
.cp_btn_blue {
  position: relative;
  display: block;
  width: 300px;
  padding: 0.8em;
  text-align: center;
  border: 3px solid #6795fd;
  text-decoration: none;
  outline: none;
  transition: all .4s;
  color: #6795fd;
  margin: 0 auto;
}
.cp_btn_blue::before,
.cp_btn_blue::after {
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  z-index: 2;
  content: '';
  transition: all .4s;
}
.cp_btn_blue::before {
  border-top: 3px solid mediumslateblue;
  border-bottom: 3px solid mediumslateblue;
  transform: scale(0, 1);
}
.cp_btn_blue::after {
  border-right: 3px solid mediumslateblue;
  border-left: 3px solid mediumslateblue;
  transform: scale(1, 0);
}
.cp_btn_blue:hover {
  color: mediumslateblue;
  text-decoration: none;
}
.cp_btn_blue:hover::after,
.cp_btn_blue:hover::before {
  transform: scale(1);
}

.cp_btn {
  position: relative;
  display: block;
  width: 300px;
  padding: 0.8em;
  text-align: center;
  border: 3px solid lightsalmon;
  text-decoration: none;
  outline: none;
  transition: all .4s;
  color: lightsalmon;
  margin: 0 auto;
}
.cp_btn::before,
.cp_btn::after {
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  z-index: 2;
  content: '';
  transition: all .4s;
}
.cp_btn::before {
  border-top: 3px solid #FF5722;
  border-bottom: 3px solid #FF5722;
  transform: scale(0, 1);
}
.cp_btn::after {
  border-right: 3px solid #FF5722;
  border-left: 3px solid #FF5722;
  transform: scale(1, 0);
}
.cp_btn:hover {
  color: #FF5722;
  text-decoration: none;
}
.cp_btn:hover::after,
.cp_btn:hover::before {
  transform: scale(1);
}

.to_index {
  white-space: nowrap;
  margin-left: 40px;
}

.btn-flat-double-border {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: double 4px #67c5ff;
  border-radius: 3px;
  transition: .4s;
  width: 80%;
  margin: 0 auto;
}

.btn-flat-double-border:hover {
  background: #fffbef;
}

/* ユーザー投稿一覧画面 */
.question_body {
  width: 80%;
  margin: 0 auto;
}


/* トレード画面 */
.result {
  color: lightseagreen;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  font-size: 20px;
}

.btn-flat-double-border {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: double 4px #67c5ff;
  border-radius: 3px;
  transition: .4s;
  width: 80%;
  margin: 0 auto;
}

.btn-flat-double-border:hover {
  background: #fffbef;
}
