@import 'bootstrap';


body {
  font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  width: 100%;
}

textarea {
  resize: vertical;
}

header {
  margin: 0 auto;
  .logo {

  }
  ul {
    li {
      margin:0 20px;
    }
  }
}


/* ヘッダー */
header {
  width: 100%;
}

/* トップ画面 */

.top {
  height: 600px;
  .describe {
    padding: 50px;
    margin-top: 150px;
    letter-spacing: 2px;
  }
  .btn-gradient-3d-simple {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 4px;
    color: #ffffff;
    background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #5e7fca;
  }
  .btn-gradient-3d-simple:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
  }
  .new-post {
    margin-top: 70px;
    padding-bottom: 500px;
  }
}

/* footer */
footer {
  height: 40px;
  width:100%;
  background-color: dimgray;
  p {
    color: #ffffff;
  }
}

/* 登録画面 */
.signup {
  margin: 0 auto;

  .btn-gradient-3d-simple {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 4px;
    color: #ffffff;
    background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #5e7fca;
  }

  .btn-gradient-3d-simple:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
  }
}
.new-errors {
  color: lightcoral;
  list-style: none;
}
